{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
     {% block title %}GuaranteeHR - pre-employment screening tests and assessments system to grow your business{% endblock title %}
    </title>

  {% block tags %}
    <meta name="description" content="Reduce bias, identify the best candidates and grow your team faster than ever" />
    <meta name="keywords" content="business service, guaranteehr, assessments, hr, screening, assessments, service" />
    <meta name="author" content="dobriy_zhuk" />
    <meta property="og:title" content="GuaranteeHR - pre-employment screening tests and assessments system to grow your business!" />
    <meta property="og:description" content="We help fast-growing companies to identify, hire and score the best Talent in record time" />
    <meta property="og:image" content="https://guaranteehr.com/static/img/logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://guaranteehr.com" />
  {% endblock tags %}

  <link rel="icon" href="https://guaranteehr.com/static/img/favicon.ico">

    <link href="{% static 'landing/assets/css/theme.css' %}" rel="stylesheet" />
    <link href="{% static 'landing/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Roboto:wght@400;500;600;700;900&amp;display=swap" rel="stylesheet">
    {% block css %}
    {% endblock %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W57TSNC');</script>
<!-- End Google Tag Manager -->
  </head>


<body data-bs-spy="scroll" data-bs-target="#navbar">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W57TSNC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


  <main class="main" id="top">
      <nav class="navbar navbar-expand-xl navbar-light px-0 pb-0 mb-2" id="navbar" data-navbar-darken-on-scroll="white">
        <div class="container-fluid align-items-center py-2"><a class="navbar-brand flex-center" href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo.png' %}" alt="open enterprise" /><span class="ms-2 d-none d-sm-block fw-bold">GuaranteeHR</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-3 mt-xl-0">
              <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="#about">Why GuaranteeHR</a></li>
              <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="#features">Features</a></li>
              <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="#benefits">Benefits</a></li>
              <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="#rea">Request a demo</a></li>
              {% if user.is_authenticated %}
                <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="{% url 'backoffice' %}">Backoffice</a></li>
              {% else %}
                <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="{% url 'backoffice' %}">Login</a></li>
                {% endif %}
                </ul>
          </div>
        </div>
      </nav>

    {% block content %}
    {% endblock %}

      <section class="py-4">
        <div class="container-xxl">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 text-sm-center text-lg-start">
              <h2 class="mb-lg-0">Guarantee HR</h2>
            </div>
            <div class="col-lg-6 text-sm-center text-lg-end">
              <p class="mb-0">&copy; Developed by <a href="{% url 'index' %}">Guarantee HR</a>
              | <a href="{% url 'blog' %}">Blog</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'landing/vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'landing/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'landing/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'landing/vendors/swiper/swiper-bundle.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'landing/assets/js/theme.js' %}"></script>

  {% block javascript %}
  {% endblock %}

  </body>

</html>