{% extends 'blog/base.html' %}
{% load static %}


 {% block content %}
  <main class="main-content  mt-0">
   <div class="page-header bg-gradient-primary  position-relative m-3 border-radius-xl">
    <img src="{% static 'img/shapes/waves-white.svg' %}" alt="pattern-lines" class="position-absolute opacity-6 start-0 top-0 w-100">
    <div class="container pb-lg-9 pb-10 pt-7 postion-relative z-index-2">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h3 class="text-white">Read our Blog</h3>
          <p class="text-white">Develop HR-experience to attract new talent</p>
        </div>
      </div>

    </div>
  </div>
  <div class="mt-n8">
    <div class="container">
    <div class="row">
        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        </div>
                    {% elif message.tags %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                      {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for post in posts %}
              <div class="col">
                <div class="card h-100">
                  <img src="{{post.image.url}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description }}</p>
                  </div>
                  <div class="card-footer">
                    <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-primary">Read more</a>
                  </div>
                </div>
              </div>
          {% endfor %}
    </div>
    </div>
  </div>
  </main>
    {% endblock %}

{% block fixed_plugin %}
{% endblock %}