{% extends 'blog/base.html' %}
{% load static %}


 {% block content %}
  <main class="main-content  mt-0">
   <div class="page-header bg-gradient-primary  position-relative m-3 border-radius-xl">
    <img src="../../assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute opacity-6 start-0 top-0 w-100">
    <div class="container pb-lg-9 pb-10 pt-7 postion-relative z-index-2 move-on-hover">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h3 class="text-white">{{ post.title }}</h3>
          <p class="text-white"> {{ post.description }}</p>
        </div>
      </div>

    </div>
  </div>
  <div class="mt-n8">
    <div class="container">
        <div class="row">
        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        </div>
                    {% elif message.tags %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                      {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <a class="btn btn-dark btn-sm" href="{% url 'edit_post' slug=post.slug %}"><span class="icon-pencil"></span></a>
        </div>

        <div class="row">
            <div class="card card-blog card-plain">
  <div class="position-relative text-center">
    <a class="d-block blur-shadow-image">
      <img src="{{ post.image.url }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" width="500" >
    </a>
  </div>
  <div class="card-body px-0 pt-4">
    <p class="text-gradient text-primary text-gradient font-weight-bold text-sm text-uppercase">{{ post.published_date }}</p>
    <a href="javascript:;">
      <h4>
        {{ post.title }}
      </h4>
    </a>
    <p>
      {{ post.text }}
    </p>
  </div>
</div>
        </div>

    </div>
  </div>
  </main>
    {% endblock %}

{% block fixed_plugin %}
{% endblock %}