{% extends 'base/base.html' %}
{% load static %}
 {% block content %}

    <div class="container-fluid py-4">
        <div class="row">
            {% if messages %}
                {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger" role="alert">
                                  {{ message }}
                                </div>
                            {% elif message.tags %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                              {{ message }}
                            </div>
                            {% endif %}
                        {% endfor %}
                {% endif %}
        </div>
      <!--div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Today's Money</p>
                    <h5 class="font-weight-bolder mb-0">
                      $53,000
                      <span class="text-success text-sm font-weight-bolder">+55%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Today's Users</p>
                    <h5 class="font-weight-bolder mb-0">
                      2,300
                      <span class="text-success text-sm font-weight-bolder">+3%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">New Clients</p>
                    <h5 class="font-weight-bolder mb-0">
                      +3,462
                      <span class="text-danger text-sm font-weight-bolder">-2%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Sales</p>
                    <h5 class="font-weight-bolder mb-0">
                      $103,430
                      <span class="text-success text-sm font-weight-bolder">+5%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div-->



<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update info about your company</h5>
      </div>
    <form method='POST' enctype="multipart/form-data" id="companyForm">
      <div class="modal-body">

                       <div id="result_div_id"></div>
                      {% csrf_token %}
                      {% for field in company_form %}
                          <label>
                          {% if field.help_text %}
                              {{ field.help_text }}
                          {% endif %}
                          </label>
                            {{ field }}

                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                        <div class="text-center">
                    </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn bg-gradient-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex flex-column h-100">
                    <p class="mb-1 pt-2 text-bold">Set up your account</p>
                    <h5 class="font-weight-bolder">HR and onboarding are just a click away</h5>
                    <p class="mb-5">We need to know additional info about your company to create the best experience.</p>
                    <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="###">
                      Add company info
                      <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                  <div class="bg-gradient-primary border-radius-lg h-100">
                    <img src="{% static  'img/shapes/waves-white.svg' %}" class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
                    <div class="position-relative d-flex align-items-center justify-content-center h-100">
                      <img class="w-100 position-relative z-index-2 pt-4" src="{% static  'img/illustrations/rocket-white.png' %}" alt="rocket">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card h-100 p-3">
            <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('../assets/img/ivancik.jpg');">
              <span class="mask bg-gradient-dark"></span>
              <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                <h5 class="text-white font-weight-bolder mb-4 pt-2">Need help?</h5>
                <p class="text-white">We are here to help you. Customer support and instant answers are in our help center</p>
                <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="https://t.me/GarantyLearning_bot" target="_blank">
                  Browse for help
                  <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <form id='myForm' action="{% url 'api_new_staff' %}" method="POST" enctype="multipart/form-data">
          <input name="name" value="Sam" />
          <input name="phone" value="71951213" />
          <input name="email" value="email@email.com" />
          <input name="token" value="2924669a-6e6e-4cd5-9ec5-ececf7d5fe0d" />
          <input type="file" name="cv_file">
        <button type="submit">submit</button>
    </form>

    <div class="row my-4">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
 <div class="card">
        <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-12 col-12">
                  <h6>Last Activity</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">30 done</span> this month
                  </p>
                </div>
              </div>
            </div>

 <div class="card-body px-0 pb-2">
    <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Applicant</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contacts</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job title</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      {% for applicant in applicants %}
        <tr>
          <td>
            <div class="d-flex px-2">
              <div>
                <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/logos/small-logos/logo-spotify.svg" class="avatar avatar-sm rounded-circle me-2">
              </div>
              <div class="my-auto">
                  <h6 class="mb-0 text-xs"><a href="{% url 'edit_staff' pk=applicant.pk %}">{{ applicant }}</a></h6>
              </div>
            </div>
          </td>
          <td>
            <p class="text-xs font-weight-bold mb-0">$2,500</p>
          </td>
          <td>
            <span class="badge badge-dot me-4">
              <i class="bg-info"></i>
              <span class="text-dark text-xs">{{ applicant.job }}</span>
            </span>
          </td>
          <td class="align-middle text-center">
            <div class="d-flex align-items-center">
              <span class="me-2 text-xs">60%</span>
              <div>
                <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
              </div>
            </div>
          </td>

          <td class="align-middle">
            <div class="dropdown">
                <button class="btn btn-link text-secondary ps-0 pe-2" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <i class="fa fa-ellipsis-v text-lg"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'edit_staff' pk=applicant.pk %}">Edit</a>
                    <a class="dropdown-item" href="{% url 'send_email' template_name='Interview' applicant_pk=applicant.pk %}">Invite to interview</a>
                    <a class="dropdown-item" href="{% url 'new_meeting' pk=applicant.pk %}">New meeting</a>
                    <a class="dropdown-item" href="{% url 'remove_staff' pk=applicant.pk %}">Remove applicant</a>
                </div>
            </div>
          </td>
        </tr>
      {% endfor %}



      </tbody>
    </table>
  </div>
            </div>



  </div>

        </div>

      </div>

      <div class="row my-4">

          <style>
#calendar{
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-family: 'Lato', sans-serif;
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: #F8F8F8;
}
#calendar_content div.blank{
  background-color: #E8E8E8;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h1{
  font-size: 1.5em;
  color: #FFFFFF;
  float:left;
  width:70%;
}
i[class^=icon-chevron]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
}
          </style>


          <!--div class="col-xl-6">

    <datetime-slot-picker
      placeholder="Pick a date and time slot"
      time-slots-text="Time Slot"
      no-slots-text="No slots are available"
      >
    </datetime-slot-picker>


          </div-->


           <div class="col-lg-6 col-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="card" style="background-image: url('../../../assets/img/curved-images/white-curved.jpeg')">
                <span class="mask bg-gradient-dark opacity-9 border-radius-xl"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                        <i class="ni ni-circle-08 text-dark text-gradient text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        1600
                      </h5>
                      <span class="text-white text-sm">Users Active</span>
                    </div>
                    <div class="col-4">
                      <div class="dropdown text-end mb-6">
                        <a href="javascript:;" class="cursor-pointer" id="dropdownUsers1" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-white"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers1">
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+55%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
              <div class="card" style="background-image: url('../../../assets/img/curved-images/white-curved.jpeg')">
                <span class="mask bg-gradient-dark opacity-9 border-radius-xl"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                        <i class="ni ni-active-40 text-dark text-gradient text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        357
                      </h5>
                      <span class="text-white text-sm">Click Events</span>
                    </div>
                    <div class="col-4">
                      <div class="dropstart text-end mb-6">
                        <a href="javascript:;" class="cursor-pointer" id="dropdownUsers2" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-white"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers2">
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+124%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="card" style="background-image: url('../../../assets/img/curved-images/white-curved.jpeg')">
                <span class="mask bg-gradient-dark opacity-9 border-radius-xl"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                        <i class="ni ni-cart text-dark text-gradient text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        2300
                      </h5>
                      <span class="text-white text-sm">Purchases</span>
                    </div>
                    <div class="col-4">
                      <div class="dropdown text-end mb-6">
                        <a href="javascript:;" class="cursor-pointer" id="dropdownUsers3" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-white"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers3">
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+15%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
              <div class="card" style="background-image: url('../../../assets/img/curved-images/white-curved.jpeg')">
                <span class="mask bg-gradient-dark opacity-9 border-radius-xl"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                        <i class="ni ni-like-2 text-dark text-gradient text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        940
                      </h5>
                      <span class="text-white text-sm">Likes</span>
                    </div>
                    <div class="col-4">
                      <div class="dropstart text-end mb-6">
                        <a href="javascript:;" class="cursor-pointer" id="dropdownUsers4" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-white"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers4">
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+90%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 mt-4 mt-lg-0">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Reviews</h6>
            </div>
            <div class="card-body pb-0 p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-0">
                  <div class="w-100">
                    <div class="d-flex mb-2">
                      <span class="me-2 text-sm font-weight-bold text-capitalize">Positive reviews</span>
                      <span class="ms-auto text-sm font-weight-bold">80%</span>
                    </div>
                    <div>
                      <div class="progress progress-md">
                        <div class="progress-bar bg-gradient-info w-80" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                  <div class="w-100">
                    <div class="d-flex mb-2">
                      <span class="me-2 text-sm font-weight-bold text-capitalize">Neutral reviews</span>
                      <span class="ms-auto text-sm font-weight-bold">17%</span>
                    </div>
                    <div>
                      <div class="progress progress-md">
                        <div class="progress-bar bg-gradient-dark w-10" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                  <div class="w-100">
                    <div class="d-flex mb-2">
                      <span class="me-2 text-sm font-weight-bold text-capitalize">Negative reviews</span>
                      <span class="ms-auto text-sm font-weight-bold">3%</span>
                    </div>
                    <div>
                      <div class="progress progress-md">
                        <div class="progress-bar bg-gradient-danger w-5" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-footer pt-0 p-3 d-flex align-items-center">
              <div class="w-60">
                <p class="text-sm">
                  More than <b>1,500,000</b> developers used Creative Tim's products and over <b>700,000</b> projects were created.
                </p>
              </div>
              <div class="w-40 text-end">
                <a class="btn bg-gradient-dark mb-0 text-end" href="javascript:;">View all reviews</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


 {% endblock %}

{% block fixed_plugin %}
{% endblock %}

{% block css %}

{% endblock %}

{% block javascript %}

<script>


    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        keyboard: false,
        static: false
    });
    let id_name = document.getElementById("id_name").value;

    if (!id_name) {
        myModal.show();
    }

    // maintaining the state of each variable.
    var current_page = 1; // maintains the current page
    var page_limit = 10; // the limit of results shown on page.
    var sort_by = ""; // maintains the select option for sort_by
    var staff = ""; // maintains the select option for country
    var start_year = ""; // maintains the select option for start_yr
    var end_year = ""; // maintains the select option for end_yr

    function get_list_url(page) {
        // returns the consructed url with query params.
        return '?page=${page}&limit=${page_limit}&country=${country}&sort_by=${sort_by}&start=${start_year}&end=${end_year}';
    }



    //getStaff();

    function getStaff() {

        $.ajax({
            method: 'GET',
            data: {'name': document.getElementById("name_staff").value },
            url: "{% url 'get_staff' pk=1 %}",
            success: function (response) {
               putTableData(response);
            },
            error: function (response) {
                console.log(response)
            }
        });

    }


    // On select change of the sort select, call the getAPIData with sortby.
    $("#sort").on("change", function (e) {
        current_page = 1;
        sort_by = this.value;
        getAPIData(get_list_url(current_page));
    });

    // Helper method that popluates the html table with next and prev
    // url, and current page number.
    function putTableData(response) {
        // creating table row for each response and
        // pushing to the html content of table body of table_body table
        let row;
        $("#applicants").html("");
        if (response.length > 0) {
            $.each(response, function (a, b) {
                var edit_staff_url = "{% url 'edit_staff' pk=1234 %}".replace('1234', b.id.toString());
                var new_test_url = "{% url 'new_test' pk=1234 %}".replace('1234', b.id.toString());
                var new_email_url = "{% url 'new_email' applicant_pk=1234 %}".replace('1234', b.id.toString());
                var new_meeting_url = "{% url 'new_meeting' pk=1234 %}".replace('1234', b.id.toString());
                var remove_staff_url = "{% url 'remove_staff' pk=1234 %}".replace('1234', b.id.toString());



                row = '<tr>\n' +
                    '            <td>\n' +
                    '            <div class="d-flex px-2">\n' +
                    '              <div>\n' +
                    '                <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/logos/small-logos/logo-spotify.svg" class="avatar avatar-sm rounded-circle me-2">\n' +
                    '              </div>\n' +
                    '              <div class="my-auto">\n' +
                    '                  <h6 class="mb-0 text-xs"><a href="' + edit_staff_url + '">' + b.user__first_name + ' ' + b.user__last_name + '</a></h6>\n' +
                    '              </div>\n' +
                    '            </div>\n' +
                    '          </td>\n' +
                    '            <td>\n' +
                    '            <span class="badge badge-dot me-4" style="text-align: left">\n' +
                    '              <i class="bg-info"></i>\n' +
                    '              <span class="text-dark text-xs">' + b.phone + '</span><br>\n' +
                    '              <span class="text-dark text-xs"><a href="' + new_email_url + '">' + b.user__email + '</a></span>\n' +
                    '            </span>\n' +
                    '          </td>\n' +
                    '          <td>\n' +
                    '            <p class="text-xs font-weight-bold mb-0">' + b.job__title__title + '</p>\n' +
                    '          </td>\n' +
                    '          <td>\n' +
                    '            <span class="badge badge-dot me-4">\n' +
                    '              <i class="bg-info"></i>\n' +
                    '              <span class="text-dark text-xs">' + b.status__title + '</span>\n' +
                    '            </span>\n' +
                    '          </td><td></td>\n' +
                    '          <td class="align-middle text-center">\n' +
                    '            <div class="d-flex align-items-center">\n' +
                    '              <span class="me-2 text-xs">60%</span>\n' +
                    '              <div>\n' +
                    '                <div class="progress">\n' +
                    '                  <div class="progress-bar bg-info" role="progressbar" aria-valuenow="' + b.status__title + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + b.status__title + '%;"></div>\n' +
                    '                </div>\n' +
                    '              </div>\n' +
                    '            </div>\n' +
                    '          </td>\n' +
                    '          <td class="align-middle">\n' +
                    '            <div class="dropstart">\n' +
                    '                    <a href="" class="text-secondary" id="dropdownMarketingCard" data-bs-toggle="dropdown" aria-expanded="false">\n' +
                    '                      <i class="fas fa-ellipsis-v"></i>\n' +
                    '                    </a>\n' +
                    '                    <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3" aria-labelledby="dropdownMarketingCard">\n' +
                    '                      <li><a class="dropdown-item border-radius-md text-success" href="javascript:;">Job Offer</a></li>\n' +
                    '                      <li>\n' +
                    '                        <hr class="dropdown-divider">\n' +
                    '                      </li>\n' +
                    '                      <li><a class="dropdown-item border-radius-md" href="' + new_test_url + '">Testing</a></li>\n' +
                    '                      <li><a class="dropdown-item border-radius-md" href="' + new_meeting_url + '">Schedule Interview</a></li>\n' +
                    '                        <li><a class="dropdown-item border-radius-md" href="' + edit_staff_url + '">Job Simulator</a></li>\n' +
                    '                      <li>\n' +
                    '                        <hr class="dropdown-divider">\n' +
                    '                      </li>\n' +
                    '                      <li><a class="dropdown-item border-radius-md text-danger" href="' + remove_staff_url + '">Remove</a></li>\n' +
                    '                    </ul>\n' +
                    '                  </div>\n' +
                    '          </td>\n' +
                    '\n' +
                    '        </tr>';

                    $("#applicants").append(row);
            });
        }
        else{
            // if there is no results found!
           $("#applicants").html("No results found.");
        }
        //if (response.pagination.has_prev) {
            // sets the previous page url.
          //  $("#previous").attr("data-url", get_list_url(current_page - 1));
          //  $("#previous").attr("disabled", false);
        //} else {
            // if there is no prev page available, disable the btn.
       //     $("#previous").attr("disabled", true);
       // }
        //if (response.pagination.has_next) {
            // sets the next page url.
     //       $("#next").attr("data-url", get_list_url(current_page + 1));
      //      $("#next").attr("disabled", false);
     //   } else {
            // if there is no next page available, disable the btn.
      //      $("#next").attr("disabled", true)
       // }
    }

    // On click of next/prev button, call the getAPIData with the given url.
    $(".page-link").click(function (e) {
        e.preventDefault();
        let url = $(this).attr("data-url");
        getAPIData(url);
    });

    // Main method which calls AJAX to get the data from backend.
    function getAPIData(url) {
        $.ajax({
            method: 'GET',
            url: url,
            success: function (response) {
                current_page = parseInt(response.pagination.page)
                putTableData(response);
                // put the total result count.
                $("#result-count span").html(response.pagination.total)
                $("#page-count span").html(response.pagination.page)
            },
            error: function (response) {
                $("#hero_table").hide();
            }
        });
    }

</script>
<script>

    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
{% endblock javascript %}