{% extends 'base/base.html' %}
{% load static %}

{% block css %}
     <link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
{% endblock %}

 {% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-9 col-12 mx-auto">
          <div class="card card-body mt-4">
            <h6 class="mb-0">Edit Staff</h6>
            <hr class="horizontal dark my-3">

            <form method='POST' enctype="multipart/form-data" id="courseForm">
                       <div id="result_div_id"></div>
                      {% csrf_token %}
                      {% for field in staff_form %}
                          <label class="form-label mt-4">
                          {% if field.help_text %}
                              {{ field.help_text }}
                          {% endif %}
                          </label>
                        {% if field.name == 'body' %}
                             <p class="form-text text-muted text-xs ms-1">
                                If you are available for hire outside of the current situation, you can encourage others to hire you.
                              </p>
                                {{ field }}
                            {% else %}
                            {{ field }}
                          {% endif %}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                        <div class="d-flex justify-content-end mt-4">
                            <a href="{% url 'backoffice' %}"><button type="button" name="button" class="btn btn-light m-0">Cancel</button></a>
                          <button type="submit" name="button" class="btn bg-gradient-primary m-0 ms-2">Save</button>
                        </div>
                    </form>
     </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block fixed_plugin %}
{% endblock %}


{% block javascript %}
    <script  src="{% static  'js/plugins/choices.min.js' %}"></script>
    <script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
    <script  src="{% static  'js/plugins/flatpickr.min.js' %}"></script>
    <script>
      var element = document.getElementById('choices-multiple-remove-button');
      const choices = new Choices(element, {
        removeItemButton: true,
        maxItemCount: 1,
      });

    if (document.querySelector('.datetimepicker')) {
      flatpickr('.datetimepicker', {
        allowInput: true
      }); // flatpickr
    }
    </script>


    {% endblock %}