{% extends 'base/base.html' %}
{% load static %}

{% block css %}
     <link href="{% static 'css/main.css' %}" rel="stylesheet" />
{% endblock %}

 {% block content %}

 <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro/img/curved-images/curved0.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="https://sun9-41.userapi.com/impf/c841435/v841435946/2c284/Av_feZh-wQY.jpg?size=1078x1080&quality=96&sign=66b895eec3a8aa25646f7cd9f8758f57&type=album" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{ company_form.instance.name }}
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                {{ company_form.instance.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
    <div class="row">
       <div class="col-12 col-lg-8 m-auto">
        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
        <form method='POST' enctype="multipart/form-data" id="companyForm">
        <div id="result_div_id"></div>
        {% csrf_token %}
        {% for field in company_form %}
            {% if forloop.counter == 1 %}
                <div id="sf1" class="frm">
                    <fieldset>
                        <legend>Step 1 of 3</legend>
                            <div class="form-group">
            {% endif %}
            {% if forloop.counter == 5 %}
                <div id="sf2" class="frm">
                    <fieldset>
                        <legend>Step 2 of 3</legend>
                            <div class="form-group">
            {% endif %}
            {% if forloop.counter == 9 %}
                <div id="sf3" class="frm">
                    <fieldset>
                        <legend>Step 3 of 3</legend>
                            <div class="form-group">
            {% endif %}

            <label class="form-label mt-4">
            {% if field.help_text %}
                {{ field.help_text }}
            {% endif %}
            </label>
            <div class="col-lg-12">
            {{ field }}
            </div>
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}

           {% if forloop.counter == 4 %}
                            </div>
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primary open1" type="button">Next <span class="fa fa-arrow-right"></span></button>
                            </div>
                        </fieldset>
                    </div>
            {% elif forloop.counter == 8 %}
                          </div>
                          <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-warning back2" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                            <button class="btn btn-primary open2" type="button">Next <span class="fa fa-arrow-right"></span></button>
                          </div>
                        </fieldset>
                    </div>
            {% elif forloop.counter == 12 %}
                            </div>
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-warning back3" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                            <button class="btn btn-primary open3" type="submit">Submit </button>
                            <img src="spinner.gif" alt="" id="loader" style="display: none">
                          </div>
                        </fieldset>
                    </div>
            {% elif forloop.last %}
                        </div>
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-warning back3" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                            <button class="btn btn-primary open3" type="submit">Submit </button>
                            <img src="spinner.gif" alt="" id="loader" style="display: none">
                          </div>
                        </fieldset>
                    </div>
            {% endif %}
       {% endfor %}
        </form>
        </div>
       </div>
     </div>
    </div>


    {% endblock %}

{% block javascript %}
<script>
jQuery().ready(function() {

  $("#sf2").hide("fast");
  $("#sf3").hide("fast");

  $(".open1").click(function() {
        $(".frm").hide("fast");
        $("#sf2").show("slow");
   });
   $(".open2").click(function() {
        $(".frm").hide("fast");
        $("#sf3").show("slow");
    });
    $(".back2").click(function() {
      $(".frm").hide("fast");
      $("#sf1").show("slow");
    });
     $(".back3").click(function() {
      $(".frm").hide("fast");
      $("#sf2").show("slow");
    });
    $(".open3_1").click(function() {
        $("#loader").show();
         setTimeout(function(){
           $("#companyForm").html('<h2>Thanks for your!</h2>');
         }, 1000);
        return false;

    });
});
</script>
{% endblock %}

{% block fixed_plugin %}
{% endblock %}