{% extends 'base/base_front.html' %}
{% load static %}

 {% block preloader %}
{% endblock %}

{% block header_global %}

    <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-dark navbar-theme-primary">
        <div class="container">
           <a class="navbar-brand @@logo_classes" href="{% url 'index' %}">
                        <img class="navbar-brand-dark common" src="{% static 'img/logo/logo.png' %}" height="35" alt="Logo light">
                        <img class="navbar-brand-light common" src="{% static 'img/logo/logo.png' %}" height="35" alt="Logo dark">
           </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/logo/logo.png' %}" height="35" alt="Logo Guarantee Finance">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                                data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover justify-content-center">
                            <li class="nav-item dropdown">
                                <a href="{% url 'index' %}" class="nav-link" data-toggle="dropdown" aria-controls="pages_submenu" aria-expanded="false" aria-label="Toggle pages menu item">
                                    <span class="nav-link-inner-text">Industry</span>
                                    <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                                </a>
                                <ul class="dropdown-menu" id="pages_submenu">
                                    <li><a class="dropdown-item" href="#">Education</a></li>
                                    <li><a class="dropdown-item" href="#">Healthcare</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'price' %}" class="nav-link">Pricing</a>
                            </li>
                            <li class="nav-item">
                                 <a href="{% url 'about' %}" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                 <a href="{% url 'contact_us' %}" class="nav-link">Contact Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link" data-toggle="dropdown" aria-controls="pages_submenu" aria-expanded="false" aria-label="Toggle pages menu item">
                                    <span class="nav-link-inner-text">Resources</span>
                                    <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                                </a>
                                <ul class="dropdown-menu" id="pages_submenu">
                                    <li><a class="dropdown-item" href="../../dashboard/pages/dashboards/dashboard.html">Support</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/examples/login.html">Blog</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/examples/register.html">News</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/examples/profile.html">Profile</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/tables/tables.html">Tables</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/maps/google.html">Maps</a></li>
                                </ul>
                            </li>
                        </ul>
            </div>
            <div class="d-none d-lg-block @@cta_button_classes">
                        <a href="https://demos.creative-tim.com/impact-design-system-pro/docs/dashboard/alerts/" class="btn btn-md btn-docs btn-outline-white animate-up-2 mr-3"><i class="fas fa-th-large mr-2"></i>Login</a>
                        <a href="https://www.creative-tim.com/product/impact-design-system-pro" target="_blank" class="btn btn-md btn-secondary animate-up-2"><i class="fas fa-paper-plane mr-2"></i>Get Started</a>
                    </div>
                    <div class="d-flex d-lg-none align-items-center">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                            aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>
                    </div>
        </div>
    </nav>
</header>

{% endblock %}

{% block content %}

    <section class="section-header pb-8 pb-lg-13 mb-4 mb-lg-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-2 mb-3">Who is Guarantee Finance for?</h1>
                    <p class="lead">Whether you’re a teacher, doctor, freelancer or need payment system for a whole team our system just makes sense.</p>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n7 mt-lg-n13 z-2">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4">
                    <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                                <i class="fas fa-bullhorn"></i>
                            </div>
                            <h4 class="text-black">Education</h4>
                            <p>
                                Reveal best strategies from the market and your competitors
                            </p>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex px-0 pt-0 pb-2">
                                    <div class="icon icon-sm icon-success mr-4">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div>Uncover the best SEO and content strategies</div>
                                </li>
                                <li class="list-group-item d-flex px-0 pb-1">
                                    <div class="icon icon-sm icon-success mr-4">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div>Build & grow your affiliate and media partnerships </div>
                                </li>
                                <li class="list-group-item d-flex px-0 pb-1">
                                    <div class="icon icon-sm icon-success mr-4">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div>Enhance your display and paid search strategies</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                                <i class="far fa-lightbulb"></i>
                            </div>
                            <h4 class="text-black">Healthcare</h4>
                            <p>
                                Understand your market, your competitors and your customers
                            </p>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex px-0 pt-0 pb-2">
                                    <div class="icon icon-sm icon-success mr-4">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div>Benchmark your market and find ways to grow your share</div>
                                </li>
                                <li class="list-group-item d-flex px-0 pb-1">
                                    <div class="icon icon-sm icon-success mr-4">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div>Analyze trends, competitors' strategy and audience behavior</div>
                                </li>
                                <li class="list-group-item d-flex px-0 pb-1">
                                    <div class="icon icon-sm icon-success mr-4">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div>Understand the shopper’s journey for smarter decisions</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                                <i class="fas fa-receipt"></i>
                            </div>
                            <h4 class="text-black">Freelance</h4>
                            <p>
                                Enhance performance throughout your sales funnel
                            </p>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex px-0 pt-0 pb-2">
                                    <div class="icon icon-sm icon-success mr-4">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div>Find, enrich and qualify leads to increase sales opportunities</div>
                                </li>
                                <li class="list-group-item d-flex px-0 pb-1">
                                    <div class="icon icon-sm icon-success mr-4">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div>Generate the insights you need to perfect your pitch</div>
                                </li>
                                <li class="list-group-item d-flex px-0 pb-1">
                                    <div class="icon icon-sm icon-success mr-4">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div>Monitor website traffic statistics to boost retention</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg pt-0 line-bottom-light">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">Get started in 30 seconds</h1>
                    <p class="lead">Even if you have the most loyal customers ever, they’ll still want to know how things are going and for new users how to start.</p>
                </div>
            </div>
            <div class="row">
                <div class="timeline timeline-six px-3 px-lg-0">
                    <!-- Timeline Item 1 -->
                    <div class="row no-gutters">
                        <div class="col-lg">
                            <!--spacer-->
                        </div>
                        <!-- timeline item 1 center image & middle line -->
                        <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <span class="d-none d-lg-block m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">1</span>
                            <div class="row h-50">
                                <div class="col middle-line">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <!-- timeline profile card -->
                        <div class="col-lg py-2">
                            <div class="card timeline-card bg-soft shadow-soft border-light p-3">
                                <div class="card-body p-4">
                                    <h4 class="mb-3"><span class="d-lg-none">1.</span> Create an account</h4>
                                    <p class="my-2">Once you're approved, you can then explore our platform functionalities and make your first test payment.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Timeline Item 2 -->
                    <div class="row no-gutters">
                        <!-- timeline profile card -->
                        <div class="col-lg py-2">
                            <div class="card left-timeline-card bg-soft shadow-soft border-light p-3">
                                <div class="card-body p-4">
                                    <h4 class="mb-3"><span class="d-lg-none">2.</span> Get Advice</h4>
                                    <p class="my-2">To start processing payments you’ll need to speak to our team for tailored advice and get an assessment of your business.</p>
                                </div>
                            </div>
                        </div>
                        <!-- timeline item 2 center image & middle line -->
                        <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                            <div class="row h-50">
                                <div class="col middle-line">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">2</span>
                            <div class="row h-50">
                                <div class="col middle-line">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col-lg">
                            <!--spacer-->
                        </div>
                    </div>
                    <!-- Timeline Item 3 -->
                    <div class="row no-gutters">
                        <div class="col-lg">
                            <!--spacer-->
                        </div>
                        <!-- timeline item 3 center image & middle line -->
                        <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                            <div class="row h-50">
                                <div class="col middle-line">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">3</span>
                            <div class="row h-50">
                                <div class="col middle-line">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <!-- timeline profile card -->
                        <div class="col-lg py-2">
                            <div class="card timeline-card bg-soft shadow-soft border-light p-3">
                                <div class="card-body p-4">
                                    <h4 class="mb-3"><span class="d-lg-none">3.</span> Apply</h4>
                                    <p class="my-2">You can now send your request to start processing payments with us. We’ll review the information, just to make sure we can help your business in the best way.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Timeline Item 4 -->
                    <div class="row no-gutters">
                        <!-- timeline profile card -->
                        <div class="col-lg py-2">
                            <div class="card left-timeline-card bg-soft shadow-soft border-light p-3">
                                <div class="card-body p-4">
                                    <h4 class="mb-3"><span class="d-lg-none">4.</span> Use</h4>
                                    <p class="my-2">Find out more about Redbooth’s APIs and discover the infinite opportunities of this Platform.</p>
                                    <p>We recommend you to start using the interactive console of the Developer Portal and getting familiar with the different endpoints of the API with the documentation. Here’s an interesting read to start consuming the API using curl: 9 uses for cURL worth knowing.</p>
                                </div>
                            </div>
                        </div>
                        <!-- timeline item 4 center image & middle line -->
                        <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                            <div class="row h-50">
                                <div class="col middle-line">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">4</span>
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col-lg">
                            <!--spacer-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-7">
                <div class="col-12 text-center">
                    <h1 class="h1 font-weight-bolder mb-4 px-lg-8">Recommended by leading experts in marketing and SEO</h1>
                    <p class="lead">Our products are loved by users worldwide</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-lg-6">
                    <div class="customer-testimonial d-flex mb-5">
                        <img src="../assets/img/team/profile-picture-1.jpg" class="image image-sm mr-3 rounded-circle shadow" alt="">
                        <div class="content bg-soft shadow-soft border border-light rounded position-relative p-4">
                            <div class="d-flex mb-4">
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                            </div>
                            <p class="mt-2">"We use Impact mainly for its site explorer, and it’s immensely improved how we find link targets. We use it both for getting quick analysis of a site, as well as utilizing its extensive index when we want to dive deep."</p>
                            <h6>- James Curran <small class="ml-0 ml-md-2">Designer Apple</small></h6>
                        </div>
                    </div>
                    <div class="customer-testimonial d-flex mb-5">
                        <img src="../assets/img/team/profile-picture-2.jpg" class="image image-sm mr-3 rounded-circle shadow" alt="">
                        <div class="content bg-soft shadow-soft border border-light rounded position-relative p-4">
                            <div class="d-flex mb-4">
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                            </div>
                            <p class="mt-2">"We use Impact mainly for its site explorer, and it’s immensely improved how we find link targets. We use it both for getting quick analysis of a site, as well as utilizing its extensive index when we want to dive deep."</p>
                            <h6>- Richard Thomas <small class="ml-0 ml-md-2">Engineer Google</small></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pt-lg-6">
                    <div class="customer-testimonial d-flex mb-5">
                        <img src="../assets/img/team/profile-picture-4.jpg" class="image image-sm mr-3 rounded-circle shadow" alt="">
                        <div class="content bg-soft shadow-soft border border-light rounded position-relative p-4">
                            <div class="d-flex mb-4">
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                            </div>
                            <p class="mt-2">"We use Impact mainly for its site explorer, and it’s immensely improved how we find link targets. We use it both for getting quick analysis of a site, as well as utilizing its extensive index when we want to dive deep."</p>
                            <h6>- Jose Evans <small class="ml-0 ml-md-2">Engineer Google</small></h6>
                        </div>
                    </div>
                    <div class="customer-testimonial d-flex mb-lg-5">
                        <img src="../assets/img/team/profile-picture-6.jpg" class="image image-sm mr-3 rounded-circle shadow" alt="">
                        <div class="content bg-soft shadow-soft border border-light rounded position-relative p-4">
                            <div class="d-flex mb-4">
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                            </div>
                            <p class="mt-2">"We use Impact mainly for its site explorer, and it’s immensely improved how we find link targets. We use it both for getting quick analysis of a site, as well as utilizing its extensive index when we want to dive deep."</p>
                            <h6>- Charles Moody <small class="ml-0 ml-md-2">Manager IBM</small></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="./testimonials.html" class="btn btn-primary"><span class="mr-2"><i class="fas fa-book-open"></i></span> See all stories</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg pb-5 bg-soft">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <h2 class="mb-4">Faster growth starts with Impact</h2>
                    <p class="lead mb-5">Join over <span class="font-weight-bolder">300,000+</span> users</p>
                    <a href="#" class="icon icon-lg text-gray mr-3">
                        <i class="fab fa-mailchimp"></i>
                    </a>
                    <a href="#" class="icon icon-lg text-gray mr-3">
                        <i class="fab fa-cpanel"></i>
                    </a>
                    <a href="#" class="icon icon-lg text-gray mr-3">
                        <i class="fab fa-dhl"></i>
                    </a>
                    <a href="#" class="icon icon-lg text-gray mr-3 ">
                        <i class="fab fa-github-alt"></i>
                    </a>
                    <a href="#" class="icon icon-lg text-gray mr-3">
                        <i class="fab fa-aws"></i>
                    </a>
                    <a href="#" class="icon icon-lg text-gray">
                        <i class="fab fa-node"></i>
                    </a>
                </div>
                <div class="col-12 text-center">
                    <!-- Button Modal -->
                    <a href="../../dashboard/pages/dashboards/dashboard.html" class="btn btn-secondary animate-up-2"><span class="mr-2"><i class="fas fa-hand-pointer"></i></span>Start 30-days trial</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block triple %}
{% endblock %}

{% block about %}
 {% endblock %}

{% block proudly %}
{% endblock %}


{% block promo %}

{% endblock %}