{% extends 'base/base_front.html' %}
{% load static %}

{% block title %}Guarantee Finance | next-generation payment for professionals and teams{% endblock title %}
{% block tags %}
    <meta name="description" content="Guarantee Finance - next-generation payment for professionals and teams" />
    <meta name="keywords" content="business service, guarantee finance, online payments, hr, screening, assessments, service" />
    <meta name="author" content="dobriy_zhuk" />
    <meta property="og:title" content="GuaranteeHR - pre-employment screening tests and assessments system to grow your business!" />
    <meta property="og:description" content="We help fast-growing companies to identify, hire and score the best Talent in record time" />
    <meta property="og:image" content="https://guaranteehr.com/static/img/logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://guaranteehr.com" />
{% endblock tags %}

{% block preloader %}
{% endblock %}

{% block content %}
    <section class="section-header pb-7 pb-lg-11 bg-soft">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 order-2 order-lg-1">
                <img src="{% static 'img/front/calendar.svg' %}" alt="">
                </div>
                <div class="col-12 col-md-5 order-1 order-lg-2">
                      <h1 class="display-2 mb-3">Next-generation calendar to grow your business</h1>
                      <p class="lead">All the tools you need to efficiently control your schedule and process online fee payments</p>
                      <div class="mt-4">
                        <form action="#" class="d-flex flex-column mb-5 mb-lg-0">
                            <input class="form-control" type="text" name="full-name" placeholder="Full name" required>
                            <input class="form-control my-3" type="email" name="email" placeholder="Your email" required>
                            <button class="btn btn-primary" type="submit">Request access</button>
                            <div class="form-group form-check mt-3">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label form-check-sign-white" for="exampleCheck1">I agree to the <a href="#">Terms & Conditions</a></label>
                            </div>
                        </form>
                      </div>
                  </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-6">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-md-7">
                <div class="col-12 col-md-8 text-center">
                    <h2 class="h1 font-weight-bolder mb-4">Meet our intuitive calendar</h2>
                    <p class="lead">Self-Service Analytics or payments reporting gives you the ability to analyze business and increase sales.</p>
                </div>
            </div>
            <div class="row row-grid align-items-center mb-5 mb-md-7">
                <div class="col-12 col-md-5">
                    <h2 class="font-weight-bolder mb-4">Unleash global business</h2>
                    <p class="lead">Break down borders. Accept payments from clients and send payouts to your own account anywhere.</p>
                    <p class="lead">Have own business? Not an issue.</p>
                    <a href="{% url 'contact_us' %}" class="btn btn-primary mt-3 animate-up-2">
                        Learn More
                        <span class="icon icon-xs ml-2">
                            <i class="fas fa-external-link-alt"></i>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                    <img src="{% static 'img/front/payment.svg' %}" alt="">
                </div>
            </div>
            <div class="row row-grid align-items-center mb-5 mb-md-7">
                <div class="col-12 col-md-5 order-md-2">
                    <h2 class="font-weight-bolder mb-4">Do not worry about the payment</h2>
                    <p>We notify your customers about the need for payment.</p>
                    <p>You can set up automated notifications and select the most cost-effective way to accept payments.</p>
                    <a href="{% url 'contact_us' %}" class="btn btn-primary mt-3 animate-up-2">
                        Accept payments
                        <span class="icon icon-xs ml-2">
                            <i class="fas fa-external-link-alt"></i>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-6 mr-lg-auto">
                    <img src="{% static 'img/front/notifications.svg' %}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-light p-4">
                        <div class="card-body">
                            <h2 class="display-2 mb-2">98%</h2>
                            <span>Reduction in manual efforts managing payments</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-light p-4">
                        <div class="card-body">
                            <h2 class="display-2 mb-2">24/7</h2>
                            <span> Our support team is a quick chat or email away — 24 hours a day</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-light p-4">
                        <div class="card-body">
                            <h2 class="display-2 mb-2">1.2+</h2>
                            <span>million in savings from reduced transaction and FX fees</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-soft">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-md-7">
                <div class="col-12 col-md-8 text-center">
                    <h2 class="h1 font-weight-bolder mb-4">Integrations for every need</h2>
                    <p class="lead">We build best-in-class schedule software for every situation,
                        from our all-in-one crm platform to tools for local payments,
                        individual analytics, and a powerful API.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card shadow-soft border-light">
                        <div class="card-header p-0">
                            <img src="{% static 'img/saas-platform-3.jpg' %}" class="card-img-top rounded-top" alt="image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title mt-3">Google Calendar</h3>
                            <p class="card-text">No additional soft! Just connect your own google calendar and process payments from your clients online.</p>
                            <ul class="list-group d-flex justify-content-center mb-4">
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Real-time connection</div>
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Notifications system</div>
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Payment management</div>
                                </li>
                            </ul>
                            <a href="./about.html" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card shadow-soft border-light">
                        <div class="card-header p-0">
                            <img src="/static/img/saas-platform-4.jpg" class="card-img-top rounded-top" alt="image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title mt-3">Payment system</h3>
                            <p class="card-text">Reach new clients and partners by supporting preferred payment methods.</p>
                            <ul class="list-group d-flex justify-content-center mb-4">
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Bank transfers</div>
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Cards and e-wallet</div>
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Cash payments</div>
                                </li>
                            </ul>
                            <a href="{% url 'contact_us' %}" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card shadow-soft border-light">
                        <div class="card-header p-0">
                            <img src="/static/img/saas-platform-5.jpg" class="card-img-top rounded-top" alt="image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title mt-3">Conferencing integration</h3>
                            <p class="card-text">Our system integrates with conferencing providers like jit.si, google meets, zoom</p>
                            <ul class="list-group d-flex justify-content-center mb-4">
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Custom integration by link</div>
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Default connection</div>
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Smart expansion</div>
                                </li>
                            </ul>
                            <a href="{% url 'contact_us' %}" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



 {% endblock %}

{% block triple %}
{% endblock %}

{% block about %}

 {% endblock %}

{% block proudly %}
{% endblock %}


{% block promo %}

{% endblock %}

 {% block faq %}

{% endblock %}

 {% block testimonials %}
{% endblock %}


 {% block contact_block %}
  {% endblock %}

  {% block recomendations %}
   {% endblock %}

   {% block partners %}
  {% endblock %}

{% block javascript %}

    <script>

    $('form').on('submit', function (event) {
        event.preventDefault();

        $email = this.email;
        $email.style.borderColor = 'black';

        form = this;

        formdata = $(form).serializeArray();
        var data = {};
        $(formdata).each(function(index, obj){
            data[obj.name] = obj.value;
        });
         $.ajax({
            type:'POST',
            url:'{% url "full_contact" %}',
            data: data,
            success: function(json){
                form.reset();
                 if (json['result'] === 'success'){
                    document.getElementById('result_div_contact').innerHTML = '<div class="alert alert-success">Successfully. Approve your email</div>';
                 }
                 else {
                     document.getElementById('result_div_contact').innerHTML = '<div class="alert alert-error">Error. Try again</div>';
                 }

/*
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push ({
                'event': 'indexForm',
                'formName': form.id,
                'eventCategory': 'indexForm',
                'eventAction': 'submit',
                });

*/
            },
            error: function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
    });

</script>

<script>
function joinModal() {
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
      keyboard: false
    });
    myModal.show();
}
</script>

{% endblock %}