{% extends 'base/base_front.html' %}
{% load static %}

 {% block preloader %}
{% endblock %}

{% block header_global %}

    <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-dark navbar-theme-primary">
        <div class="container">
           <a class="navbar-brand @@logo_classes" href="{% url 'index' %}">
                        <img class="navbar-brand-dark common" src="{% static 'img/logo/logo.png' %}" height="35" alt="Logo light">
                        <img class="navbar-brand-light common" src="{% static 'img/logo/logo.png' %}" height="35" alt="Logo dark">
                    </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/logo/logo.png' %}" height="35" alt="Logo Guarantee Finance">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                                data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover justify-content-center">
                            <li class="nav-item dropdown">
                                <a href="{% url 'index' %}" class="nav-link" data-toggle="dropdown" aria-controls="pages_submenu" aria-expanded="false" aria-label="Toggle pages menu item">
                                    <span class="nav-link-inner-text">Industry</span>
                                    <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                                </a>
                                <ul class="dropdown-menu" id="pages_submenu">
                                    <li><a class="dropdown-item" href="#">Education</a></li>
                                    <li><a class="dropdown-item" href="#">Healthcare</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'price' %}" class="nav-link">Pricing</a>
                            </li>
                            <li class="nav-item">
                                 <a href="{% url 'about' %}" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                 <a href="{% url 'contact_us' %}" class="nav-link">Contact Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link" data-toggle="dropdown" aria-controls="pages_submenu" aria-expanded="false" aria-label="Toggle pages menu item">
                                    <span class="nav-link-inner-text">Resources</span>
                                    <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                                </a>
                                <ul class="dropdown-menu" id="pages_submenu">
                                    <li><a class="dropdown-item" href="../../dashboard/pages/dashboards/dashboard.html">Support</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/examples/login.html">Blog</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/examples/register.html">News</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/examples/profile.html">Profile</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/tables/tables.html">Tables</a></li>
                                    <li><a class="dropdown-item" href="../../dashboard/pages/maps/google.html">Maps</a></li>
                                </ul>
                            </li>
                        </ul>
            </div>
           <div class="d-none d-lg-block @@cta_button_classes">
                        <a href="{% url 'account' %}" class="btn btn-md btn-docs btn-outline-white animate-up-2 mr-3"><i class="fas fa-th-large mr-2"></i>Login</a>
                        <a href="https://www.creative-tim.com/product/impact-design-system-pro" target="_blank" class="btn btn-md btn-secondary animate-up-2"><i class="fas fa-paper-plane mr-2"></i>Get Started</a>
                    </div>
                    <div class="d-flex d-lg-none align-items-center">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                            aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>
                    </div>
        </div>
    </nav>
</header>

{% endblock %}

{% block content %}

    <section class="section-header bg-primary text-white pb-7 pb-lg-11">
        <div class="container">
            <div class="row justify-content-center mb-6">
                <div class="col-12 col-md-10 text-center">
                    <h1 class="display-2 mb-3">Our pricing plan made simple</h1>
                    <p class="lead px-5">Schedule your day and add global payment acceptance to your favorite business.</p>
                </div>
            </div>
            <div class="row text-gray">
                <div class="col-12 col-lg-4">
                    <!-- Card -->
                    <div class="card shadow-soft mb-5 mb-lg-6 px-2">
                        <div class="card-header border-light py-5 px-4">
                            <!-- Price -->
                            <div class="d-flex mb-3">
                                <span class="h5 mb-0">$</span>
                                <span class="price display-2 mb-0" data-annual="0" data-monthly="0">0</span>
                                <span class="h6 font-weight-normal align-self-end">/month</span>
                            </div>
                            <h4 class="mb-3 text-black">Full free</h4>
                            <p class="font-weight-normal mb-0">If you're new or just need the basics, this plan is a great way.</p>
                        </div>
                        <div class="card-body pt-5">
                            <ul class="list-group simple-list">
                                <li class="list-group-item font-weight-normal"><span class="icon-gray"><i class="fas fa-check"></i></span>Users<span class="font-weight-bolder"> 1</span></li>
                                <li class="list-group-item font-weight-normal"><span class="icon-gray"><i class="fas fa-check"></i></span>Full access to payment tool</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-gray"><i class="fas fa-check"></i></span>Google Calendar integration</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-gray"><i class="fas fa-check"></i></span>3.3% / per transaction</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-gray"><i class="fas fa-check"></i></span>Public Share & Review</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-gray"><i class="fas fa-check"></i></span>Chat Support</li>
                            </ul>
                        </div>
                        <div class="card-footer px-4 pb-4">
                            <!-- Button -->
                            <a href="../../dashboard/pages/dashboards/dashboard.html" class="btn btn-block btn-outline-gray animate-up-2">
                                Start for Free <span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <!-- Card -->
                    <div class="card shadow-soft mb-5 mb-lg-6">
                        <div class="card-header border-light py-5 px-4">
                            <!-- Price -->
                            <div class="d-flex mb-3 text-primary">
                                <span class="h5 mb-0">$</span>
                                <span class="price display-2 text-primary mb-0" data-annual="9" data-monthly="99">9</span>
                                <span class="h6 font-weight-normal align-self-end">/month</span>
                            </div>
                            <h4 class="mb-3 text-black">Own project</h4>
                            <p class="font-weight-normal mb-0">Ample limits plus full access to API. Most folks start here.</p>
                        </div>
                        <div class="card-body pt-5">
                            <ul class="list-group simple-list">
                                <li class="list-group-item font-weight-normal"><span class="icon-primary"><i class="fas fa-check"></i></span>Users<span class="font-weight-bolder"> 3</span></li>
                                <li class="list-group-item font-weight-normal"><span class="icon-primary"><i class="fas fa-check"></i></span>All features on <span class="font-weight-bolder">FREE</span> plan</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-primary"><i class="fas fa-check"></i></span>Hide <span class="font-weight-bolder">Guarantee Finance</span> &reg; label</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-primary"><i class="fas fa-check"></i></span>All apps</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-primary"><i class="fas fa-check"></i></span>3rd party service integrations</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-primary"><i class="fas fa-check"></i></span>Unlimited editable exports</li>
                            </ul>
                        </div>
                        <div class="card-footer px-4 pb-4">
                            <!-- Button -->
                            <a href="#" class="btn btn-block btn-outline-primary">
                                Go to Standard<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <!-- Card -->
                    <div class="card shadow-soft border-light mb-5 mb-lg-6">
                        <div class="card-header border-light py-5 px-4">
                            <!-- Price -->
                            <div class="d-flex mb-3">
                                <span class="h5 mb-0">$</span>
                                <span class="price display-2 text-secondary mb-0" data-annual="199" data-monthly="199">199</span>
                                <span class="h6 font-weight-normal align-self-end">/month</span>
                            </div>
                            <h4 class="mb-3 text-black">Enterprise</h4>
                            <p class="font-weight-normal mb-0">The ideal plan for businesses that are serious about payments.</p>
                        </div>
                        <div class="card-body pt-5">
                            <ul class="list-group simple-list">
                                <li class="list-group-item font-weight-normal"><span class="icon-secondary"><i class="fas fa-check"></i></span>Multiple accounts</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-secondary"><i class="fas fa-check"></i></span>All features on <span class="font-weight-bolder">BASIC</span> plan</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-secondary"><i class="fas fa-check"></i></span>Customer Management System</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-secondary"><i class="fas fa-check"></i></span>Premium Analytics</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-secondary"><i class="fas fa-check"></i></span>3rd party service integrations</li>
                                <li class="list-group-item font-weight-normal"><span class="icon-secondary"><i class="fas fa-check"></i></span>Co-conception program</li>
                            </ul>
                        </div>
                        <div class="card-footer px-4 pb-4">
                            <!-- Button -->
                            <a href="#" class="btn btn-block btn-outline-secondary">
                                Start with Pro<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-md-10 text-center">
                    <h2 class="mb-3">Still not convinced? Start with a 3-day FREE trial!</h2>
                    <p class="lead mb-5 px-5">You will get full access to your Dashboard with all the features for 3 days.</p>
                    <!-- Button -->
                    <a href="../../dashboard/pages/dashboards/dashboard.html" target="_blank" class="btn btn-secondary animate-up-2">
                        Start a free demo<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-6 line-bottom-light">
        <div class="container">
            <div class="row justify-content-center mb-6">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">All subscriptions plan include these powerfull features</h1>
                    <p class="lead">We add new tools and features regularly.</p>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-12 col-md-6">
                    <!-- Icon Box -->
                    <div class="card shadow-soft border-light mb-4">
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row p-3">
                                <div class="mb-3 mb-lg-0">
                                    <div class="icon icon-primary"><i class="far fa-life-ring"></i></div>
                                </div>
                                <div class="pl-lg-4">
                                    <h5 class="mb-3">24/5 customer support</h5>
                                    <p>Have a question, concern or feedback for us? Our support team is just a quick chat or email away — 24 hours a day, Monday to Friday.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Icon Box -->
                </div>
                <div class="col-12 col-md-6">
                    <!-- Icon Box -->
                    <div class="card shadow-soft border-light mb-4">
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row p-3">
                                <div class="mb-3 mb-lg-0">
                                    <div class="icon icon-primary"><i class="fas fa-street-view"></i></div>
                                </div>
                                <div class="pl-lg-4">
                                    <h5 class="mb-3">Private Facebook community</h5>
                                    <p>Take full advantage of insights from the highly accomplished SEOs and digital marketers in our customers-only community.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Icon Box -->
                </div>
                <div class="col-12 col-md-6">
                    <!-- Icon Box -->
                    <div class="card shadow-soft border-light mb-4">
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row p-3">
                                <div class="mb-3 mb-lg-0">
                                    <div class="icon icon-primary"><i class="fas fa-street-view"></i></div>
                                </div>
                                <div class="pl-lg-4">
                                    <h5 class="mb-3">Tailored learning materials</h5>
                                    <p>Ever notice that the marketing tutorials on our blog and YouTube channel, and in the Ahrefs Academy, often feature our tools?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Icon Box -->
                </div>
                <div class="col-12 col-md-6">
                    <!-- Icon Box -->
                    <div class="card shadow-soft border-light mb-4">
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row p-3">
                                <div class="mb-3 mb-lg-0">
                                    <div class="icon icon-primary"><i class="fas fa-street-view"></i></div>
                                </div>
                                <div class="pl-lg-4">
                                    <h5 class="mb-3">New features released regularly</h5>
                                    <p>Our development cycle is fast. We frequently update existing tools and release updates — heavily influenced by requests from our customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Icon Box -->
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-white line-bottom-light">
            <div class="container">
                <div class="row justify-content-center mb-4 mb-lg-6">
                    <div class="col-12 col-lg-8 text-center">
                        <h1 class="display-3 mb-4">Frequently asked questions</h1>
                        <p class="lead text-gray">Here’s what you need to know about your Impact license, based on the questions we get asked the most.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <!--Accordion-->
                        <div class="accordion">
                            <div class="card card-sm card-body border border-light rounded mb-3">
                                <div data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                                    <span class="h6 mb-0">Does my subscription automatically renew?</span>
                                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="collapse" id="panel-1">
                                    <div class="pt-3">
                                        <p class="mb-0">
                                            At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-sm card-body border border-light rounded mb-3">
                                <div data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                                    <span class="h6 mb-0">What happens if I don’t renew my license?</span>
                                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="collapse" id="panel-2">
                                    <div class="pt-3">
                                        <p class="mb-0">
                                            At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-sm card-body border border-light rounded mb-3">
                                <div data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                                    <span class="h6 mb-0">Can I cancel my subscription?</span>
                                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="collapse" id="panel-3">
                                    <div class="pt-3">
                                        <p class="mb-0">
                                            At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-sm card-body border border-light rounded mb-3">
                                <div data-target="#panel-4" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-4">
                                    <span class="h6 mb-0">Do I need to renew my license to receive fixes?</span>
                                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="collapse" id="panel-4">
                                    <div class="pt-3">
                                        <p class="mb-0">
                                            At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-sm card-body border border-light rounded mb-3">
                                <div data-target="#panel-5" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-5">
                                    <span class="h6 mb-0">Where can I find the End User License Agreement (EULA)?</span>
                                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="collapse" id="panel-5">
                                    <div class="pt-3">
                                        <p class="mb-0">
                                            At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5 mt-lg-6">
                                <div class="col text-center">
                                    <a href="#" class="btn btn-primary animate-up-2"><span class="mr-2"><i class="fas fa-question-circle"></i></span> See all FAQ</a>
                                </div>
                            </div>
                        </div>
                        <!--End of Accordion-->
                    </div>
                </div>
            </div>
        </section>
    <section class="section section-lg bg-soft pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="mb-5 text-center">We accept PayPal and all major credit cards.</h3>
                </div>
                <div class="col-12 text-black text-center mb-5">
                    <div class="icon icon-lg mr-2 mr-sm-3">
                        <i class="fab fa-cc-visa"></i>
                    </div>
                    <div class="icon icon-lg mr-2 mr-sm-3">
                        <i class="fab fa-bitcoin"></i>
                    </div>
                    <div class="icon icon-lg mr-2 mr-sm-3">
                        <i class="fab fa-cc-mastercard"></i>
                    </div>
                    <div class="icon icon-lg mr-2 mr-sm-3">
                        <i class="fab fa-cc-stripe"></i>
                    </div>
                    <div class="icon icon-lg mr-2 mr-sm-3">
                        <i class="fab fa-cc-amazon-pay"></i>
                    </div>
                    <div class="icon icon-lg mr-2 mr-sm-3">
                        <i class="fab fa-cc-paypal"></i>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="/contact"><strong>Chat with us</strong></a><span class="border-right border-gray mx-2"></span>Send us an email to <a href="mailto:support@yourcompany.com"><strong>support@yourcompany.com</strong></a>
                </div>
            </div>
        </div>
    </section>
            
{% endblock content %}

{% block triple %}
{% endblock %}

{% block about %}
 {% endblock %}

{% block proudly %}
{% endblock %}


{% block promo %}

{% endblock %}